@keyframes start-header {
  100% {
    opacity: 1;
  }
}
body, html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  height: 300vh;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  padding: 0 1.2rem;
  margin: 0 auto;
}
@media screen and (min-width: 678px) {
  .container {
    width: 650px;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}
@media screen and (min-width: 2024px) {
  .container {
    width: 1980px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 678px) {
  .row {
    flex-direction: row;
  }
}

.col {
  flex-basis: 100%;
  padding: 10px;
}
@media screen and (min-width: 678px) {
  .col-medium-50 {
    flex: 0 0 50%;
  }
  .col-medium-25 {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 1024px) {
  .col-large-50 {
    flex: 0 0 50%;
  }
  .col-large-25 {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 2024px) {
  .col-xlarge-50 {
    flex: 0 0 50%;
  }
  .col-xlarge-25 {
    flex: 0 0 25%;
  }
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.708);
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
#modal .modal-content {
  background-color: whitesmoke;
  border-radius: 1rem;
  height: 60%;
  width: 80%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  #modal .modal-content {
    height: 50%;
    width: 50%;
  }
}
#modal .modal-content h4 {
  font-weight: normal;
  font-size: 4rem;
  text-align: center;
}
#modal .modal-content a {
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 96%;
  margin: 0 2%;
  height: 8rem;
  z-index: 2;
  transition: 1s;
  overflow: hidden;
  border-bottom: 1px solid whitesmoke;
}
nav .material-symbols-outlined {
  font-size: 6rem;
}
@media screen and (min-width: 1024px) {
  nav .material-symbols-outlined {
    visibility: hidden;
  }
}

.scroll {
  background-color: #011C40;
  height: 5.4rem;
  width: 100%;
  margin: 0;
}

.logo {
  flex-basis: 50%;
  padding-left: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
@media screen and (min-width: 678px) {
  .logo {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    font-size: 3.5rem;
  }
}
.logo img {
  height: 7rem;
}

.menu {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.menu-ul {
  display: none;
}
@media screen and (min-width: 1024px) {
  .menu-ul {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    font-size: 2rem;
  }
}
@media screen and (min-width: 2024px) {
  .menu-ul {
    flex-basis: 70%;
  }
}
.menu-ul li {
  flex-basis: 25%;
  text-align: center;
  transition: transform 0.5s;
}
.menu-ul li:hover {
  transform: translateY(-5px);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/img/bg_header.webp") center/cover fixed;
  height: 100vh;
  color: whitesmoke;
}
header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  position: absolute;
}
header h1 {
  text-align: center;
  padding: 10px;
  line-height: 50px;
  font-size: 3rem;
  font-weight: normal;
}
@media screen and (min-width: 678px) {
  header h1 {
    font-size: 5rem;
    line-height: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 7rem;
  }
}
@media screen and (min-width: 2024px) {
  header h1 {
    font-size: 9rem;
  }
}

.header-text {
  z-index: 1;
  text-align: center;
  opacity: 0;
  animation: 3s start-header both;
}

.btn-header {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #011C40;
  opacity: 0.65;
  width: 150px;
  border-radius: 6px;
  text-align: center;
  font-size: 2.2rem;
  transition: 0.5s;
}
.btn-header:hover {
  opacity: 1;
  transform: translateX(10px);
}

section {
  min-height: 70vh;
}
section:nth-of-type(even) {
  background-color: rgb(235, 235, 235);
}
section h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: normal;
  padding-top: 6rem;
}

.box-travel {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 1rem gray;
  border-radius: 0.6rem;
  transition: 0.5s;
  margin: 0 auto;
  border: 1px solid lightgray;
}
.box-travel h3 {
  text-align: center;
  font-size: 2.4rem;
  padding-top: 1.5rem;
}
.box-travel p {
  margin: 0;
  padding: 10px;
  text-align: center;
}
.box-travel .price {
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
}
.box-travel a {
  color: whitesmoke;
  border-radius: 0.6rem;
  background-color: #023373;
  margin: 3rem auto;
  height: 4.6rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  transition: 0.5s;
}
.box-travel a:hover {
  box-shadow: 0 0 2rem #023373;
}

.picture {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  text-align: center;
}
.picture img {
  height: auto;
  width: 100%;
  border-radius: 0.6rem;
  padding: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
