@keyframes start-header {
    100% {
        opacity: 1;
    }
}

@keyframes menu-show {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes menu-hide {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}