@keyframes start-header {
    100% {
        opacity: 1;
    }
}

%properties-scroll {
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
    @extend %properties-scroll;
}

body {
    margin: 0;
    font-family: "Kanit", sans-serif;
    height: 300vh;
    @extend %properties-scroll;
 }

 a {
    color: inherit;
    text-decoration: none;
 }