@use 'variables' as *;

.box-travel {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 1rem gray;
    border-radius: .6rem;
    transition: .5s;
    margin: 0 auto;
    border: 1px solid lightgray;

    h3 {
        text-align: center;
        font-size: 2.4rem;
        padding-top: 1.5rem;
    }

    p {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .price {
        text-align: center;
        font-weight: bold;
        font-size: 1.9rem;
    }

    a {
        color: whitesmoke;
        border-radius: .6rem;
        background-color: $color1;
        margin: 3rem auto;
        height: 4.6rem;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        transition: .5s;

        &:hover {
            // opacity: .75;
            box-shadow: 0 0 2rem $color1;
        }
    }
}

.picture {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    text-align: center;
    img {
        height: auto;
        width: 100%;
        border-radius: .6rem;
        padding: .2rem;
    }
}