@use 'mixins' as *;

$gutter: 20px;

$width-for-small: 100%;
$width-for-medium: 650px;
$width-for-large: 1000px;
$width-for-xlarge: 1980px;

.container {
    width: $width-for-small;
    padding: 0 1.2rem;
    margin: 0 auto;

    @include media-queries {
        width: $width-for-medium;
        padding: 0;
    }
    
    @include media-queries('l') {
        width: $width-for-large;
    }
    
    @include media-queries('xl') {
        width: $width-for-xlarge;
    }
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include media-queries {
        flex-direction: row;
    }
}

.col {
    flex-basis: 100%;

    @include media-queries {
        &-medium-50 {
            flex: 0 0 50%;
        }
        &-medium-25 {
            flex: 0 0 25%;
        }
    }
    
    @include media-queries('l') {
        
        &-large-50 {
            flex: 0 0 50%;
        }

        &-large-25 {
            flex: 0 0 25%;
        }
    }
    
    @include media-queries('xl') {
        
        &-xlarge-50 {
            flex: 0 0 50%;
        }

        &-xlarge-25 {
            flex: 0 0 25%;
        }
    }
}