@use 'variables' as *;

#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.708);
    z-index: 3;

    display: none;
    justify-content: center;
    align-items: center;

    transition: 1s;

    .modal-content {
        background-color: $color3;
        height: 50%;
        width: 50%;
    }
}