@use 'variables' as *;

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 96%;
    margin: 0 2%;
    height: 8rem;
    // background-color: $color1;
    z-index: 2;
    transition: 1s;
    overflow: hidden;
    border-bottom: 1px solid whitesmoke;

    .material-symbols-outlined {
        font-size: 6rem;
        
        @media screen and (min-width: 1024px) {
            visibility: hidden;
        }
    }

}

.scroll {
    background-color: $color2;
    height: 5.4rem;
    width: 100%;
    margin: 0;
}

.logo { 
    flex-basis: 50%;
    padding-left: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .6rem;

    @media screen and (min-width: 678px) {
        font-size: 3rem;
    }
    @media screen and (min-width: 1024px) {
        font-size: 3.5rem;
    }

    img {
        height: 7rem;
        // width: 42px;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    padding-right: 20px;
    // font-size: 5rem;
    
    &-ul {
        display: none;
        
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-basis: 70%;
            list-style: none;
            font-size: 2rem;
        }

        li {
            flex-basis: 25%;
            // border: 1px solid #fff;
            text-align: center;
            transition: transform .5s;

            &:hover {
                font-weight: bold;
                transform: translateY(-5px);
            }
        }
    
    }
}
